/*-----------------------------------------------------------------------
    GRID LAYOUT
-----------------------------------------------------------------------*/

.col-1 {
  width: 60px;
}

.col-2 {
  width: 140px;
}

.col-3 {
  width: 220px;
}

.col-4 {
  width: 300px;
}

.col-5 {
  width: 380px;
}

.col-6 {
  width: 460px;
}

.col-7 {
  width: 540px;
}

.col-8 {
  width: 620px;
}

.col-9 {
  width: 700px;
}

.col-10 {
  width: 780px;
}

.col-11 {
  width: 860px;
}

.col-12 {
  width: 940px;
}


/*-----------------------------------------------------------------------
    FONTS
-----------------------------------------------------------------------*/

@font-face {
  font-family: "Steinem Roman";
  src: url("fonts/Steinem/STEINEM_.eot");
  src: local("Steinem Roman"), local("Steinem"), url("fonts/Steinem/STEINEM_.woff") format("woff"), url("fonts/Steinem/STEINEM_.ttf") format("truetype"), url("fonts/Steinem/STEINEM_.svg#Steinem") format("svg");
}

@font-face {
  font-family: "Steinem RomanItalic";
  src: url("fonts/Steinem/STEINEMI.eot");
  src: local("Steinem RomanItalic"), local("Steinem-Italic"), url("fonts/Steinem/STEINEMI.woff") format("woff"), url("fonts/Steinem/STEINEMI.ttf") format("truetype"), url("fonts/Steinem/STEINEMI.svg#Steinem-Italic") format("svg");
}

@font-face {
  font-family: "Steinem Bold";
  src: url("fonts/Steinem/STEINEMB.eot");
  src: local("Steinem Bold"), local("Steinem-Bold"), url("fonts/Steinem/STEINEMB.woff") format("woff"), url("fonts/Steinem/STEINEMB.ttf") format("truetype"), url("fonts/Steinem/STEINEMB.svg#Steinem-Bold") format("svg");
}

@font-face {
  font-family: "Steinem BoldItalic";
  src: url("fonts/Steinem/STEINBI_.eot");
  src: local("Steinem BoldItalic"), local("Steinem-BoldItalic"), url("fonts/Steinem/STEINBI_.woff") format("woff"), url("fonts/Steinem/STEINBI_.ttf") format("truetype"), url("fonts/Steinem/STEINBI_.svg#Steinem-BoldItalic") format("svg");
}


/*-----------------------------------------------------------------------
    GENERAL
-----------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
input,
select,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.logo-header a,
.nav-main a,
.content-feature {
  text-indent: -999em;
  display: block;
  overflow: hidden;
  font-size: 1px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  display: inline;
  margin-right: 20px;
}

. {
  margin-left: auto;
  margin-right: auto;
}


.last,
.col-12,
.text input.col-12,
.text textarea.col-12,
.select select.col-12 {
  margin-right: 0;
  margin-bottom: 0;
}

ul li {
  background: url("../images/bullet-default.png") no-repeat 0 4px;
  padding-left: 14px;
}

.list-reset,
.list-1,
.list-1 li,
.list-2,
.list-2 li,
.list-3,
.list-3 li {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

h2 {
  color: #85c2bc;
}

h2 + h3 {
  margin-top: -20px;
}

h4 {
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

a {
  color: #f77825;
}

a:hover {
  color: #cd5201;
}

body {
  color: #5c5c5c;
}

.intro {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Steinem Bold", Arial, sans-serif;
  line-height: 1.07em;
  letter-spacing: 0.01em;
  color: #453c37;
}

ul,
ol,
h2,
h3,
.list-1 li,
.layout-menu {
  display: block;
  margin-bottom: 20px;
}

body {
  font-size: 13px;
  line-height: 1.5em;
  color: #5c5c5c;
  background: #fcfaea;
}

html,
body {
  height: 100%;
  position: relative;
  min-width: 1000px;
}

.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  min-width: 1050px;
}

.wrapper-inner {
  padding-bottom: 277px;
  overflow: hidden;
}

.header,
.content-feature {
  background: url("../images/bg-turq.jpg");
  padding-bottom: 64px;
}

.header,
.content,
.content-feature {
  position: relative;
}

.content-feature {
  z-index: 8;
}

.content {
  background: url("../images/bg-paper-top.png") repeat-x 50% 0;
  padding-top: 40px;
  z-index: 10;
  margin-top: -90px;
}

.container img {
  padding-top: 20px;
}

.content,
.content-inner {
  zoom: 1;
}

.content-inner {
  background: #fcfaea;
  margin-left: auto;
}

h1, h2, p, ul, input, select#crust, option, textarea { 
  text-align: center;
}



/*-----------------------------------------------------------------------
    Navigation Section
-----------------------------------------------------------------------*/

.nav-main {
  position: absolute;
  right: 20px;
  top: 0;
}

.nav-main a {
  height: 80px;
  background: url("../images/nav-main.png") no-repeat;
}

.nav-main li.li-1 a {
  width: 107px;
}

.nav-main li.li-1 a:hover {
  background-position: 0px -200px;
}

.nav-main li.li-1 a.active {
  background-position: 0px -400px;
}

.nav-main li.li-2 a {
  background-position: -107px 0px;
  width: 105px;
}

.nav-main li.li-2 a:hover {
  background-position: -107px -200px;
}

.nav-main li.li-2 a.active {
  background-position: -107px -400px;
}

.nav-main li.li-3 a:hover {
  background-position: -212px -200px;
}

.nav-main li.li-4 a {
  background-position: -321px 0px;
  width: 106px;
}

.nav-main li.li-4 a:hover {
  background-position: -321px -200px;
}

.nav-main li.li-4 a.active {
  background-position: -321px -400px;
}


/*-----------------------------------------------------------------------
    HORIZONTAL AND VERTICAL NAVIGATION
-----------------------------------------------------------------------*/

.hnav li,
.vnav li,
.hlist li,
.vlist li,
.inav li {
  background: none;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.hnav li,
.hlist li {
  float: left;
  display: inline;
}

.hnav a,
.vnav a {
  display: block;
}

.inav li {
  display: inline;
}


/*-----------------------------------------------------------------------
    FOOTER
-----------------------------------------------------------------------*/

.footer {
  background: url("../images/bg-footer.jpg") repeat-x;
  padding: 100px 0 0 0;
  height: 177px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .container,
.content-feature .footer {
  width: 1000px;
  margin-left: -500px;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.footer-links .col {
  width: 160px;
}

.footer {
  color: #453C37;
}

.footer .info,
.footer .hours,
.footer .footer-links {
  margin-bottom: 10px;
}

.footer .legal {
  text-align: center;
  clear: both;
  color: #d6cabb;
  border-top: 1px dotted #d0cdb8;
  padding-top: 10px;
}

.footer h4 {
  font-size: 18px;
}

.footer .footer-links h4,
.footer .hours h4 {
  text-transform: lowercase;
}

.footer a {
  font-weight: bold;
  color: #fcfaea;
  letter-spacing: -0.025em;
}

.footer a:hover {
  color: #453c37;
}
