.serif, .serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text, input.fc_cart_item_quantity, input.fc_text, select, textarea, .text input {
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif; }

.sans, .caps-note, .home-twitter .relative-date, .sans-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.monospace {
  font-family: Consolas, "Lucida Console", Monaco, monospace; }

.slab, h1, h3, .intro, .btn, form, label, .content-header h1, .product-detail h2, #fc_tb_titleTop, #fc_login_register_container, #fc_data_entry_container, #fc_receipt_container, #product-filter label, .filter label, div.menu .price {
  font-family: "Steinem Roman", Arial, sans-serif; }

.slab-bold, .heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price, #fc_cart_table #fc_cart_foot_total td, strong.fc_error, .content-feature .text-slide .intro, .nav-local a.more, div.menu h3 {
  font-family: "Steinem Bold", Arial, sans-serif; }

.slab-italic, .note, .fc_cart_notice, #shipping_ajax, #fc_login_register_container p, #fc_login_register_container #fc_shipping_result, #fc_data_entry_container p, #fc_data_entry_container #fc_shipping_result, #fc_receipt_container p, #fc_receipt_container #fc_shipping_result, .fc_error .fc_error_container {
  font-family: "Steinem RomanItalic", Arial, sans-serif; }

.slab-bold-italic {
  font-family: "Steinem BoldItalic", Arial, sans-serif; }

.caps-note, .home-twitter .relative-date {
  text-transform: uppercase;
  color: #aea091;
  letter-spacing: 0.05em;
  font-size: 9px; }

.heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price {
  line-height: 1.07em;
  letter-spacing: 0.01em;
  color: #453c37; }

.serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text {
  font-size: 13px;
  line-height: 1.5em;
  color: #5c5c5c; }

.sans-default {
  font-size: 12px;
  line-height: 1.5em;
  color: #5c5c5c; }

.block, .section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2, .section-2, p, form, pre, ul, ol, dl, address, blockquote, object, h2, h3, .list-1 li, .list-2, .list-3, .framed, .content-main .slideshow, .content-header, .fc_fieldset_container, .home-links, .nav-local, .layout-menu .section, .layout-menu div.menu h2, div.menu .layout-menu h2, div.menu .category {
  display: block;
  margin-bottom: 20px; }

.section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2 {
  padding-bottom: 14px;
  background: url("images/slash-div-cream.png") no-repeat 0 100%; }

.section-2 {
  border-bottom: 1px dotted #cac2b1; }

.serif, .serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text, input.fc_cart_item_quantity, input.fc_text, select, textarea, .text input {
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif; }

.sans, .caps-note, .home-twitter .relative-date, .sans-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.monospace {
  font-family: Consolas, "Lucida Console", Monaco, monospace; }

.slab, h1, h3, .intro, .btn, form, label, .content-header h1, .product-detail h2, #fc_tb_titleTop, #fc_login_register_container, #fc_data_entry_container, #fc_receipt_container, #product-filter label, .filter label, div.menu .price {
  font-family: "Steinem Roman", Arial, sans-serif; }

.slab-bold, .heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price, #fc_cart_table #fc_cart_foot_total td, strong.fc_error, .content-feature .text-slide .intro, .nav-local a.more, div.menu h3 {
  font-family: "Steinem Bold", Arial, sans-serif; }

.slab-italic, .note, .fc_cart_notice, #shipping_ajax, #fc_login_register_container p, #fc_login_register_container #fc_shipping_result, #fc_data_entry_container p, #fc_data_entry_container #fc_shipping_result, #fc_receipt_container p, #fc_receipt_container #fc_shipping_result, .fc_error .fc_error_container {
  font-family: "Steinem RomanItalic", Arial, sans-serif; }

.slab-bold-italic {
  font-family: "Steinem BoldItalic", Arial, sans-serif; }

.caps-note, .home-twitter .relative-date {
  text-transform: uppercase;
  color: #aea091;
  letter-spacing: 0.05em;
  font-size: 9px; }

.heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price {
  line-height: 1.07em;
  letter-spacing: 0.01em;
  color: #453c37; }

.serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text {
  font-size: 13px;
  line-height: 1.5em;
  color: #5c5c5c; }

.sans-default {
  font-size: 12px;
  line-height: 1.5em;
  color: #5c5c5c; }

.block, .section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2, .section-2, p, form, pre, ul, ol, dl, address, blockquote, object, h2, h3, .list-1 li, .list-2, .list-3, .framed, .content-main .slideshow, .content-header, .fc_fieldset_container, .home-links, .nav-local, .layout-menu .section, .layout-menu div.menu h2, div.menu .layout-menu h2, div.menu .category {
  display: block;
  margin-bottom: 20px; }

.section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2 {
  padding-bottom: 14px;
  background: url("images/slash-div-cream.png") no-repeat 0 100%; }

.section-2 {
  border-bottom: 1px dotted #cac2b1; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  display: inline;
  margin-right: 20px; }

.container, .content-feature .slideshow {
  width: 940px;
  margin: 0 auto; }

.last, .col-12, .text input.col-12, .text textarea.col-12, .select select.col-12 {
  margin-right: 0;
  margin-bottom: 0; }

.col-1 {
  width: 60px; }

.col-2 {
  width: 140px; }

.col-3 {
  width: 220px; }

.col-4 {
  width: 300px; }

.col-5 {
  width: 380px; }

.col-6 {
  width: 460px; }

.col-7 {
  width: 540px; }

.col-8 {
  width: 620px; }

.col-9 {
  width: 700px; }

.col-10 {
  width: 780px; }

.col-11 {
  width: 860px; }

.col-12 {
  width: 940px; }

.append-1 {
  padding-right: 80px; }

.append-2 {
  padding-right: 160px; }

.append-3 {
  padding-right: 240px; }

.append-4 {
  padding-right: 320px; }

.append-5 {
  padding-right: 400px; }

.append-6 {
  padding-right: 480px; }

.append-7 {
  padding-right: 560px; }

.append-8 {
  padding-right: 640px; }

.append-9 {
  padding-right: 720px; }

.append-10 {
  padding-right: 800px; }

.append-11 {
  padding-right: 880px; }

.prepend-1 {
  padding-left: 80px; }

.prepend-2 {
  padding-left: 160px; }

.prepend-3 {
  padding-left: 240px; }

.prepend-4 {
  padding-left: 320px; }

.prepend-5 {
  padding-left: 400px; }

.prepend-6 {
  padding-left: 480px; }

.prepend-7 {
  padding-left: 560px; }

.prepend-8 {
  padding-left: 640px; }

.prepend-9 {
  padding-left: 720px; }

.prepend-10 {
  padding-left: 800px; }

.prepend-11 {
  padding-left: 880px; }

.text input, .text textarea, .select select {
  width: 198px; }

.text input.col-1, .text textarea.col-1, .select select.col-1 {
  width: 38px; }

.text input.col-2, .text textarea.col-2, .select select.col-2 {
  width: 118px; }

.text input.col-3, .text textarea.col-3, .select select.col-3 {
  width: 198px; }

.text input.col-4, .text textarea.col-4, .select select.col-4 {
  width: 278px; }

.text input.col-5, .text textarea.col-5, .select select.col-5 {
  width: 358px; }

.text input.col-6, .text textarea.col-6, .select select.col-6 {
  width: 438px; }

.text input.col-7, .text textarea.col-7, .select select.col-7 {
  width: 518px; }

.text input.col-8, .text textarea.col-8, .select select.col-8 {
  width: 598px; }

.text input.col-9, .text textarea.col-9, .select select.col-9 {
  width: 678px; }

.text input.col-10, .text textarea.col-10, .select select.col-10 {
  width: 758px; }

.text input.col-11, .text textarea.col-11, .select select.col-11 {
  width: 838px; }

.text input.col-12, .text textarea.col-12, .select select.col-12 {
  width: 918px; }

@font-face {
  font-family: "Steinem Roman";
  src: url("fonts/Steinem/STEINEM_.eot");
  src: local("Steinem Roman"), local("Steinem"), url("fonts/Steinem/STEINEM_.woff") format("woff"), url("fonts/Steinem/STEINEM_.ttf") format("truetype"), url("fonts/Steinem/STEINEM_.svg#Steinem") format("svg"); }
@font-face {
  font-family: "Steinem RomanItalic";
  src: url("fonts/Steinem/STEINEMI.eot");
  src: local("Steinem RomanItalic"), local("Steinem-Italic"), url("fonts/Steinem/STEINEMI.woff") format("woff"), url("fonts/Steinem/STEINEMI.ttf") format("truetype"), url("fonts/Steinem/STEINEMI.svg#Steinem-Italic") format("svg"); }
@font-face {
  font-family: "Steinem Bold";
  src: url("fonts/Steinem/STEINEMB.eot");
  src: local("Steinem Bold"), local("Steinem-Bold"), url("fonts/Steinem/STEINEMB.woff") format("woff"), url("fonts/Steinem/STEINEMB.ttf") format("truetype"), url("fonts/Steinem/STEINEMB.svg#Steinem-Bold") format("svg"); }
@font-face {
  font-family: "Steinem BoldItalic";
  src: url("fonts/Steinem/STEINBI_.eot");
  src: local("Steinem BoldItalic"), local("Steinem-BoldItalic"), url("fonts/Steinem/STEINBI_.woff") format("woff"), url("fonts/Steinem/STEINBI_.ttf") format("truetype"), url("fonts/Steinem/STEINBI_.svg#Steinem-BoldItalic") format("svg"); }
.serif, .serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text, input.fc_cart_item_quantity, input.fc_text, select, textarea, .text input {
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif; }

.sans, .caps-note, .home-twitter .relative-date, .sans-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.monospace {
  font-family: Consolas, "Lucida Console", Monaco, monospace; }

.slab, h1, h3, .intro, .btn, form, label, .content-header h1, .product-detail h2, #fc_tb_titleTop, #fc_login_register_container, #fc_data_entry_container, #fc_receipt_container, #product-filter label, .filter label, div.menu .price {
  font-family: "Steinem Roman", Arial, sans-serif; }

.slab-bold, .heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price, #fc_cart_table #fc_cart_foot_total td, strong.fc_error, .content-feature .text-slide .intro, .nav-local a.more, div.menu h3 {
  font-family: "Steinem Bold", Arial, sans-serif; }

.slab-italic, .note, .fc_cart_notice, #shipping_ajax, #fc_login_register_container p, #fc_login_register_container #fc_shipping_result, #fc_data_entry_container p, #fc_data_entry_container #fc_shipping_result, #fc_receipt_container p, #fc_receipt_container #fc_shipping_result, .fc_error .fc_error_container {
  font-family: "Steinem RomanItalic", Arial, sans-serif; }

.slab-bold-italic {
  font-family: "Steinem BoldItalic", Arial, sans-serif; }

.caps-note, .home-twitter .relative-date {
  text-transform: uppercase;
  color: #aea091;
  letter-spacing: 0.05em;
  font-size: 9px; }

.heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price {
  line-height: 1.07em;
  letter-spacing: 0.01em;
  color: #453c37; }

.serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text {
  font-size: 13px;
  line-height: 1.5em;
  color: #5c5c5c; }

.sans-default {
  font-size: 12px;
  line-height: 1.5em;
  color: #5c5c5c; }

.block, .section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2, .section-2, p, form, pre, ul, ol, dl, address, blockquote, object, h2, h3, .list-1 li, .list-2, .list-3, .framed, .content-main .slideshow, .content-header, .fc_fieldset_container, .home-links, .nav-local, .layout-menu .section, .layout-menu div.menu h2, div.menu .layout-menu h2, div.menu .category {
  display: block;
  margin-bottom: 20px; }

.section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2 {
  padding-bottom: 14px;
  background: url("images/slash-div-cream.png") no-repeat 0 100%; }

.section-2 {
  border-bottom: 1px dotted #cac2b1; }

.reset, .hnav, .vnav, .hlist, .vlist, .inav, #fc_cart_table ul.fc_cart_item_options, #fc_cart_table ul.fc_cart_item_options li, #fc_complete_order_button, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, input, select, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left; }

blockquote, q {
  quotes: none; }

.hide, .js .js-hide, .js-show {
  display: none; }

.js .js-show {
  display: block; }

.hide-alt {
  position: absolute;
  left: -999em; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none; }

.replace, .logo-header a, .nav-main a, .badge, #fc_complete_order_button, .fc_cart_remove_link, .btn-x, .content-feature .slideshow .controls a, #feature-toggle, .home-links a, .catribs-info h3 {
  text-indent: -999em;
  display: block;
  overflow: hidden;
  font-size: 1px; }

.hnav li, .vnav li, .hlist li, .vlist li, .inav li {
  background: none;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.hnav li, .hlist li {
  float: left;
  display: inline; }

.hnav a, .vnav a {
  display: block; }

.inav li {
  display: inline; }

.group, .hnav, .hlist, .container, .content-feature .slideshow, .list-2, .section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2, .section-2, .hform .text, .hform .select {
  display: block;
  zoom: 1; }
  .group:after, .hnav:after, .hlist:after, .container:after, .content-feature .slideshow:after, .list-2:after, .section:after, #fc_checkout_container:after, body.checkout #fc_checkout_cart:after, body.receipt #fc_checkout_cart:after, #fc_receipt_container:after, div.menu h2:after, .section-2:after, .hform .text:after, .hform .select:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }

.ie6 .group, .ie6 .hnav, .ie6 .hlist, .ie6 .container, .ie6 .content-feature .slideshow, .content-feature .ie6 .slideshow, .ie6 .list-2, .ie6 .section, .ie6 #fc_checkout_container, .ie6 body.checkout #fc_checkout_cart, body.checkout .ie6 #fc_checkout_cart, .ie6 body.receipt #fc_checkout_cart, body.receipt .ie6 #fc_checkout_cart, .ie6 #fc_receipt_container, .ie6 div.menu h2, div.menu .ie6 h2, .ie6 .section-2, .ie6 .hform .text, .hform .ie6 .text, .ie6 .hform .select, .hform .ie6 .select, .ie6 .hnav, .ie6 .hlist, .ie6 .list-2, .ie6 .section, .ie6 #fc_checkout_container, .ie6 body.checkout #fc_checkout_cart, body.checkout .ie6 #fc_checkout_cart, .ie6 body.receipt #fc_checkout_cart, body.receipt .ie6 #fc_checkout_cart, .ie6 #fc_receipt_container, .ie6 div.menu h2, div.menu .ie6 h2, .ie6 .section-2, .ie6 .hform .text, .ie6 .hform .select {
  height: 1%; }

strong {
  font-weight: bold; }

cite, em, var, dfn {
  font-style: italic; }

ins {
  border-bottom: 1px dotted; }

del {
  text-decoration: line-through; }

sup, sub {
  font-size: 80%; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

.ie6 sup, .ie7 sup {
  vertical-align: text-top; }

.ie6 sub, .ie7 sub {
  vertical-align: text-bottom; }

abbr[title] {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  cursor: help; }

img {
  max-width: 100%;
  height: auto; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left; }

table {
  margin-bottom: 20px; }

li {
  margin-bottom: 0.75em; }

li ol, li ul {
  margin-top: 0.75em;
  margin-bottom: 0; }

ol {
  margin-left: 1.5em; }

.ie6 ol, .ie7 ol {
  margin-left: 2em; }

ol li {
  list-style: decimal; }

ul li {
  list-style: none; }

dt {
  font-weight: bold; }

ul li {
  background: url("images/bullet-default.png") no-repeat 0 4px;
  padding-left: 14px; }

.list-reset, .list-1, .list-1 li, .list-2, .list-2 li, .list-3, .list-3 li {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 13px; }

h6 {
  font-size: 12px; }

h2 {
  color: #85c2bc; }

h2 + h3 {
  margin-top: -20px; }

h4 {
  letter-spacing: 0.04em;
  margin-bottom: 4px; }

a {
  color: #f77825; }

a:hover {
  color: #cd5201; }

body {
  color: #5c5c5c; }

.intro {
  font-size: 42px; }

a.btn, .btn {
  color: #fcfaea;
  margin-right: 8px; }

.btn {
  float: left;
  text-shadow: 1px 1px 1px #9a3d01;
  -moz-text-shadow: 1px 1px 1px #9a3d01;
  -webkit-text-shadow: 1px 1px 1px #9a3d01;
  font-size: 15px;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 0 15px 0 0;
  text-align: center;
  position: relative;
  zoom: 1;
  width: auto;
  overflow: visible; }

.btn span {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 0 0 0 15px;
  height: 26px;
  line-height: 26px; }

.btn.last, .btn.col-12, .text input.btn.col-12, .text textarea.btn.col-12, .select select.btn.col-12 {
  margin-right: 0; }

button::-moz-focus-inner {
  border: none;
  padding: 0; }

.btn, .btn span {
  background-image: url("images/buttons/orange-pill.png"); }

.btn {
  background-position: 100% 0; }

.btn span {
  background-position: 0 -100px; }

.btn:hover {
  background-position: 100% -200px; }

.btn:hover span {
  background-position: 0 -300px; }

.btn:active {
  background-position: 100% -400px; }

.btn:active span {
  background-position: 0 -500px; }

.ie8 .btn:active {
  background-position: 100% -399px; }

.clickable, .biglink {
  cursor: pointer; }

.note, .fc_cart_notice, #shipping_ajax {
  font-size: 15px; }

.list-1 li {
  zoom: 1; }

.list-2 li {
  line-height: 1.2em;
  float: left;
  border-right: 1px dotted #cac2b1;
  padding-right: 6px;
  margin-right: 6px; }
.list-2 li.last, .list-2 li.col-12 {
  border: none;
  margin: 0;
  padding: 0; }

.list-3 li {
  border-bottom: 1px dotted #cac2b1;
  padding-bottom: 6px;
  margin-bottom: 6px; }
.list-3 li.last, .list-3 li.col-12 {
  margin-bottom: 0; }

.framed, .content-main .slideshow {
  background: url("images/drawn-frame-big.png") no-repeat;
  width: 586px;
  height: 323px;
  padding: 19px; }

.serif, .serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text, input.fc_cart_item_quantity, input.fc_text, select, textarea, .text input {
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif; }

.sans, .caps-note, .home-twitter .relative-date, .sans-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.monospace {
  font-family: Consolas, "Lucida Console", Monaco, monospace; }

.slab, h1, h3, .intro, .btn, form, label, .content-header h1, .product-detail h2, #fc_tb_titleTop, #fc_login_register_container, #fc_data_entry_container, #fc_receipt_container, #product-filter label, .filter label, div.menu .price {
  font-family: "Steinem Roman", Arial, sans-serif; }

.slab-bold, .heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price, #fc_cart_table #fc_cart_foot_total td, strong.fc_error, .content-feature .text-slide .intro, .nav-local a.more, div.menu h3 {
  font-family: "Steinem Bold", Arial, sans-serif; }

.slab-italic, .note, .fc_cart_notice, #shipping_ajax, #fc_login_register_container p, #fc_login_register_container #fc_shipping_result, #fc_data_entry_container p, #fc_data_entry_container #fc_shipping_result, #fc_receipt_container p, #fc_receipt_container #fc_shipping_result, .fc_error .fc_error_container {
  font-family: "Steinem RomanItalic", Arial, sans-serif; }

.slab-bold-italic {
  font-family: "Steinem BoldItalic", Arial, sans-serif; }

.caps-note, .home-twitter .relative-date {
  text-transform: uppercase;
  color: #aea091;
  letter-spacing: 0.05em;
  font-size: 9px; }

.heading-default, h1, h2, h3, h4, h5, h6, .intro, .product-list h2, .product-list h3, #fc_cart_table caption, #fc_cart_table thead th, #fc_cart_controls_top, .home-twitter h3, div.menu .price {
  line-height: 1.07em;
  letter-spacing: 0.01em;
  color: #453c37; }

.serif-default, body, .product-detail .price, #fc_checkout_container .fc_label_radio, #fc_receipt_container .fc_text {
  font-size: 13px;
  line-height: 1.5em;
  color: #5c5c5c; }

.sans-default {
  font-size: 12px;
  line-height: 1.5em;
  color: #5c5c5c; }

.block, .section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2, .section-2, p, form, pre, ul, ol, dl, address, blockquote, object, h2, h3, .list-1 li, .list-2, .list-3, .framed, .content-main .slideshow, .content-header, .fc_fieldset_container, .home-links, .nav-local, .layout-menu .section, .layout-menu div.menu h2, div.menu .layout-menu h2, div.menu .category {
  display: block;
  margin-bottom: 20px; }

.section, #fc_checkout_container, body.checkout #fc_checkout_cart, body.receipt #fc_checkout_cart, #fc_receipt_container, div.menu h2 {
  padding-bottom: 14px;
  background: url("images/slash-div-cream.png") no-repeat 0 100%; }

.section-2 {
  border-bottom: 1px dotted #cac2b1; }

input.fc_cart_item_quantity, input.fc_text, select, textarea, .text input {
  font-size: 13px;
  background-color: #f5efdf;
  border: 1px solid #e6dcd1;
  padding: 4px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  input.fc_cart_item_quantity:focus, input.fc_text:focus, select:focus, textarea:focus, .text input:focus {
    background-color: white; }

input:disabled, input[disabled=disabled], textarea:disabled, textarea[disabled=disabled], #fc_shipping_list input {
  background-color: #e9dfd4;
  border-color: #cac2b1;
  color: #908273; }

#fc_shipping_list label {
  color: #aea091; }

input.fc_cart_item_quantity, input.number, label.number, .label.number {
  text-align: right; }

.hform .text label, .hform .select label, .hform .file label, .hform .text .label, .hform .select .label, .hform .file .label, .hform .text input, .hform .select input, .hform .file input, .hform select, .hform textarea {
  float: left; }

.hform label, .hform .label {
  text-align: right; }

.hform .text label, .hform .select label {
  width: 220px;
  margin-right: 20px;
  padding-top: 8px; }

.hform .error-message {
  padding-left: 240px;
  display: block;
  clear: left;
  padding-top: 6px; }

.text, .select {
  margin-bottom: 6px; }

form, label {
  font-size: 15px;
  line-height: 1.2em;
  color: #221308; }

.required-mark, .error label, .error {
  color: #f0733b; }

.error input, .error select {
  border-color: #f38554;
  background-color: #f9a783; }
  .error input:focus, .error select:focus {
    border-color: #e6dcd1; }

.box {
  padding: 10px;
  border: 1px solid #cccccc;
  background: #f0f0f0;
  color: #555555;
  min-height: 40px; }

.ie6 .box {
  height: 40px; }

.box.single-line {
  padding: 15px 10px;
  min-height: 0;
  background-position: 10px 50% !important; }

.ie6 .single-line {
  height: 0; }

.box.error, .box.failure {
  background-color: #fbe3e4;
  border-color: #fbc2c4; }

.box.notice {
  background-color: #fff6bf;
  border-color: #ffd324; }

.box.success {
  background-color: #e6efc2;
  border-color: #c6d880; }

.box.error, .box.failure, .box.notice, .box.success {
  background-repeat: no-repeat;
  background-position: 10px 13px;
  padding-left: 50px; }

.box.failure, .box.error {
  background-image: url("images/icons/easel/error.png"); }

.box.notice {
  background-image: url("images/icons/easel/notice.png"); }

.box.success {
  background-image: url("images/icons/easel/success.png"); }

.box a, .box a:hover {
  background: none;
  border: 0;
  color: #555555; }

.box.error, .box.error a, .box.failure, .box.failure a {
  color: #a11616; }

.box.notice, .box.notice a {
  color: #695e52; }

.box.success, .box.success a {
  color: #3d6c10; }

.box a {
  text-decoration: underline; }

.vform label {
  display: block;
  margin: 0 0 4px; }

.captcha-hints {
  font-size: 12px; }

form .captcha,
form .actions {
  padding-left: 240px; }

html, body {
  height: 100%;
  position: relative;
  min-width: 1000px; }

.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  min-width: 1050px; }

.wrapper-inner {
  padding-bottom: 277px;
  overflow: hidden; }

body {
  background: #fcfaea; }

.header, .content-feature {
  background: url("images/bg-turq.jpg");
  padding-bottom: 64px; }

.header, .content, .content-feature {
  position: relative; }

.content-feature {
  z-index: 8; }

.content {
  background: url("images/bg-paper-top.png") repeat-x 50% 0;
  padding-top: 64px;
  z-index: 10;
  margin-top: -64px; }

.header .container, .header .content-feature .slideshow, .content-feature .header .slideshow {
  position: relative; }

.footer {
  background: url("images/bg-footer.jpg") repeat-x;
  padding: 100px 0 0 0;
  height: 177px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.footer .container, .footer .content-feature .slideshow, .content-feature .footer .slideshow {
  width: 1000px;
  margin-left: -500px;
  position: absolute;
  bottom: 20px;
  left: 50%; }

.logo-header a {
  background: url("images/logo-header.png") no-repeat;
  width: 236px;
  height: 73px;
  position: relative;
  z-index: 100; }

.content, .content-inner {
  zoom: 1; }

.content-inner {
  background: #fcfaea; }

.nav-main {
  position: absolute;
  right: -20px;
  top: 0; }
  .nav-main a {
    height: 80px;
    background: url("images/nav-main.png") no-repeat; }
  .nav-main li.li-1 a {
    width: 107px; }
  .nav-main li.li-1 a:hover {
    background-position: 0px -200px; }
  .nav-main li.li-1 a.active {
    background-position: 0px -400px; }
  .nav-main li.li-2 a {
    background-position: -107px 0px;
    width: 105px; }
  .nav-main li.li-2 a:hover {
    background-position: -107px -200px; }
  .nav-main li.li-2 a.active {
    background-position: -107px -400px; }
  .nav-main li.li-3 a {
    background-position: -212px 0px;
    width: 109px; }
  .nav-main li.li-3 a:hover {
    background-position: -212px -200px; }
  .nav-main li.li-3 a.active {
    background-position: -212px -400px; }
  .nav-main li.li-4 a {
    background-position: -321px 0px;
    width: 106px; }
  .nav-main li.li-4 a:hover {
    background-position: -321px -200px; }
  .nav-main li.li-4 a.active {
    background-position: -321px -400px; }

.ie7 #foxee_cart_container a.foxycart {
  zoom: 1;
  margin-top: -12px; }

.content-header {
  background: url("images/slash-div-turq.png") repeat-x 0 100%;
  padding-bottom: 24px; }
  .content-header h1 {
    float: left;
    font-size: 24px;
    line-height: 1em;
    margin: 0;
    color: #85c2bc; }
  .content-header .back-link {
    float: left; }
  .content-header a.back-link, .content-header #foxee_cart_container, .content-header .nav-user {
    margin: 6px 0 0;
    line-height: 1.2em; }
  .content-header #foxee_cart_container {
    display: none; }
  .content-header .logout {
    margin: 6px 0 0 15px;
    float: right; }

#foxee_cart_container {
  float: right;
  margin-right: 7px; }
  #foxee_cart_container h2 {
    float: right;
    font-size: 16px;
    margin: 0; }
    #foxee_cart_container h2 a {
      background: url("images/buttons/cart.png") no-repeat 100% 0;
      padding: 11px 32px 5px 0;
      min-height: 14px; }
      #foxee_cart_container h2 a:hover {
        background-position: 100% -100px; }

.content-header .list-2, .content-header .nav-user {
  float: right;
  color: #aea091;
  margin-bottom: 0; }
.content-header #foxee_cart_container .nav-user {
  margin: 0 20px 0 0; }
.content-header .content-header-more {
  float: right;
  margin-top: 6px; }

body.checkout .content-header .back-link {
  float: right; }

#order_notes {
  width: 438px;
  height: 70px; }

.product-list {
  color: #64300a;
  line-height: 1.5em; }
  .product-list li.product {
    background: url("images/product-list-matte.jpg") no-repeat 0 100%;
    height: 250px;
    position: relative;
    margin-bottom: 40px; }
  .product-list h2, .product-list h3 {
    margin: 0; }
  .product-list h2 {
    font-size: 14px; }
    .product-list h2 a:hover {
      color: #cd5201; }
  .product-list h3 {
    font-size: 12px;
    margin-top: 6px; }
  .product-list .product-main {
    padding: 0 10px; }
    .product-list .product-main .disount-desc {
      margin-bottom: 10px;
      font-size: 15px; }
  .product-list .product-main, .product-list .product-main a {
    color: #453c37; }
  .product-list .product-main a:hover {
    color: #cd5201; }
  .product-list img {
    display: block;
    margin: 0 0 10px; }
  .product-list .product-links {
    position: absolute;
    top: 125px;
    height: 26px;
    width: 215px;
    padding: 0 3px; }

form.btn {
  background: none;
  padding: 0;
  margin: 0;
  float: left; }

.badge {
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  margin: 0; }

.badge.gf {
  background-image: url("images/product-badges/gf.png"); }

.badge.v {
  background-image: url("images/product-badges/v.png"); }

.badge.gf.v {
  background-image: url("images/product-badges/v-and-gf.png"); }

.product-list .badge {
  top: -18px;
  right: -12px; }

.product-detail .product-img .badge {
  top: 7px;
  right: 7px; }

.product-detail h1 {
  color: #85c2bc;
  font-size: 28px; }
.product-detail h2 {
  color: #5c5c5c;
  font-size: 20px; }
.product-detail .price {
  font-size: 22px;
  color: #64300a;
  letter-spacing: -0.025em; }
.product-detail .details {
  clear: both; }

.ie6 .product-detail .product-img,
.ie6 .product-detail .product-main {
  display: inline; }
.product-detail .product-img {
  position: relative;
  background: url("images/drawn-frame.png") no-repeat;
  height: 361px;
  width: 463px;
  margin-left: -940px; }
  .product-detail .product-img img {
    padding: 19px;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
  .product-detail .product-img img.photo {
    z-index: 2; }
  .product-detail .product-img img.ill {
    z-index: 1; }
.product-detail .product-main {
  width: 380px;
  margin-left: 560px; }
.product-detail .product-main, .product-detail .product-img {
  float: left; }

.product-detail .product-main .title {
  background: url("images/dotted-dark.png") repeat-x 0 100%;
  padding-bottom: 10px;
  margin-bottom: 7px; }
.product-detail .product-main .cart {
  margin: 0 0 8px 10px; }
  .product-detail .product-main .cart .add {
    margin: 4px 0 0 30px; }
  .product-detail .product-main .cart .price, .product-detail .product-main .cart .add {
    float: left; }
.product-detail .product-main h1, .product-detail .product-main h2 {
  margin-bottom: 4px; }
.product-detail .product-main .desc {
  clear: both; }
.product-detail .product-main .ingredients span {
  color: #aea091;
  font-style: italic;
  font-size: 11px;
  line-height: 1.2em;
  display: block; }

.footer-links .col {
  width: 160px; }

.footer {
  color: #453C37; }
  .footer .info,
  .footer .hours,
  .footer .footer-links {
    margin-bottom: 10px; }
  .footer .legal {
    text-align: center;
    clear: both;
    color: #d6cabb;
    border-top: 1px dotted #d0cdb8;
    padding-top: 10px; }
  .footer h4 {
    font-size: 18px; }
  .footer .footer-links h4,
  .footer .hours h4 {
    text-transform: lowercase; }

.footer a {
  font-weight: bold;
  color: #fcfaea;
  letter-spacing: -0.025em; }
  .footer a:hover {
    color: #453c37; }

#fc_tb_window {
  border: 0;
  background: url("images/bg-paper-top.png") repeat-x;
  padding: 64px 0 0 0; }

#fc_cart_container {
  padding: 0 11px; }

.fc_cart_item_option_name,
.fc_cart_item_option_separator,
.fc_cart_item_option_value,
.fc_cart_item_code,
.fc_cart_category_code {
  display: none; }

#fc_tb_titleTop {
  position: absolute;
  top: -10px;
  right: 20px;
  color: #aea091;
  background: none;
  height: auto;
  font-size: 14px; }
  #fc_tb_titleTop #fc_tb_closeAjaxWindowTop {
    margin: 0;
    padding: 0;
    text-align: left; }
    #fc_tb_titleTop #fc_tb_closeAjaxWindowTop a {
      text-transform: capitalize;
      color: #f77825; }
      #fc_tb_titleTop #fc_tb_closeAjaxWindowTop a:hover {
        color: #cd5201; }

#fc_tb_titleBot, #fc_tb_ajaxWindowTitleTop {
  display: none; }

#fc_tb_iframeContent {
  background: #fcfaea;
  border-bottom: 1px solid #cac2b1;
  margin: 0;
  padding-right: 1px; }

html.cart, html.cart body {
  height: auto;
  min-width: 0;
  position: static; }

#fc_cart_table caption {
  text-align: left;
  font-size: 36px;
  background: url("images/slash-div-turq.png") repeat-x 0 100%;
  padding: 0 0 20px;
  margin: 0 0 30px; }
#fc_cart_table tfoot td {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px; }
#fc_cart_table thead th {
  color: #b9b19f;
  font-size: 14px; }
#fc_cart_table tfoot .fc_col2 {
  padding-right: 30px; }
#fc_cart_table #fc_cart_foot_subtotal {
  border-bottom: 1px solid #cac2b1; }
#fc_cart_table #fc_cart_foot_total td {
  font-size: 18px; }
#fc_cart_table tbody td {
  background: #fefdf8;
  color: black;
  border: 1px solid #cac2b1;
  border-right: 0; }
#fc_cart_table td.fc_cart_item_quantity {
  border-left: 0;
  width: 70px; }
#fc_cart_table td.fc_cart_item_price {
  border-left: 0;
  border-right: 1px solid #cac2b1;
  width: 370px; }
#fc_cart_table th, #fc_cart_table td {
  padding: 9px; }
#fc_cart_table input.fc_cart_item_quantity {
  width: 42px; }
#fc_cart_table #fc_cart_head_price, #fc_cart_table td.fc_cart_item_price {
  text-align: right; }
#fc_cart_table .fc_cart_remove_right {
  float: right;
  margin: 0 -2px 0 7px; }
#fc_cart_table ul.fc_cart_item_options {
  line-height: 1.2em; }
#fc_cart_table ul.fc_cart_item_options, #fc_cart_table .fc_cart_item_price_each {
  color: #aea091;
  font-size: 12px; }

#fc_cart_form #fc_cart_head_price span {
  padding-right: 19px; }

#fc_cart_controls_bottom, .fc_cart_remove_center, .fc_cart_remove_left {
  display: none; }

#fc_cart_controls_top {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 18px; }
  #fc_cart_controls_top .fc_link_nav, #fc_cart_controls_top .fc_cart_notice {
    float: left;
    margin: 0 0 0 20px; }
    #fc_cart_controls_top .fc_link_nav a, #fc_cart_controls_top .fc_cart_notice a {
      color: #fcfaea; }

.fc_guest_checkout {
  padding-left: 180px; }

#fc_complete_order_button_container img {
  display: block;
  margin: 0 0 6px -6px; }

#fc_checkout_container {
  overflow: hidden; }

body.checkout #fc_checkout_cart td {
  width: auto; }
body.checkout #fc_checkout_cart caption {
  display: none; }
body.checkout #fc_cancel_continue_shopping {
  display: none; }

#fc_login_register_container, #fc_data_entry_container, #fc_receipt_container {
  overflow: hidden;
  font-size: 15px;
  line-height: 1.2em;
  color: #221308; }
  #fc_login_register_container legend, #fc_data_entry_container legend, #fc_receipt_container legend {
    display: none; }
  #fc_login_register_container p, #fc_login_register_container #fc_shipping_result, #fc_data_entry_container p, #fc_data_entry_container #fc_shipping_result, #fc_receipt_container p, #fc_receipt_container #fc_shipping_result {
    color: #221308;
    font-size: 14px; }
  #fc_login_register_container ol, #fc_data_entry_container ol, #fc_receipt_container ol {
    margin-left: 0;
    margin-bottom: 0; }
  #fc_login_register_container ol li, #fc_data_entry_container ol li, #fc_receipt_container ol li {
    list-style: none; }
  #fc_login_register_container ol li, #fc_login_register_container #fc_shipping_methods_container, #fc_data_entry_container ol li, #fc_data_entry_container #fc_shipping_methods_container, #fc_receipt_container ol li, #fc_receipt_container #fc_shipping_methods_container {
    margin: 0 0 14px 0; }
  #fc_login_register_container #fc_shipping_methods_inner, #fc_data_entry_container #fc_shipping_methods_inner, #fc_receipt_container #fc_shipping_methods_inner {
    overflow: hidden; }
  #fc_login_register_container #fc_shipping_methods .fc_error, #fc_data_entry_container #fc_shipping_methods .fc_error, #fc_receipt_container #fc_shipping_methods .fc_error {
    padding-left: 0; }

strong.fc_error {
  font-weight: normal; }

.fc_pre {
  float: left;
  width: 160px;
  margin-right: 20px;
  text-align: right; }

label.fc_error, #fc_continue, #fc_login_register p, #login_ajax {
  clear: both;
  float: left;
  padding-top: 6px;
  padding-left: 180px; }

#fc_login_register p {
  padding-top: 0; }

#li_customer_new_password {
  padding-left: 180px; }

#login_ajax {
  padding-top: 0; }
  #login_ajax img {
    margin: 0 0 6px -6px;
    display: block; }

.fc_text {
  float: left;
  padding-top: 5px; }

.fc_row {
  clear: both;
  overflow: hidden; }

#fc_customer_info_container, #fc_shipping_container, #fc_payment_container, #fc_custom_fields_container {
  width: 460px;
  display: inline; }

#fc_login_register_container {
  width: 460px; }

#fc_customer_info_container {
  float: left; }

#fc_shipping_container, #fc_payment_container, #fc_custom_fields_container {
  float: right; }

#fc_payment_container {
  clear: right; }

#fc_shipping_methods {
  float: left;
  width: 280px;
  padding: 5px 0 0 0;
  clear: none; }

#fc_shipping_list {
  clear: left; }

.fc_label_left, .fc_text_label {
  color: #221308;
  padding: 5px 0 0 0;
  text-align: right; }

.fc_error, .fc_ast {
  color: #f0733b; }

.fc_row_error .fc_text {
  border-color: #f38554;
  background-color: #f9a783; }
  .fc_row_error .fc_text:focus {
    border-color: #e6dcd1; }

#fc_checkout_container ol {
  margin-bottom: 0; }
#fc_checkout_container p {
  margin-bottom: 6px;
  margin-top: 6px; }
#fc_checkout_container label {
  display: block; }
#fc_checkout_container .fc_row_radio label, #fc_checkout_container .fc_input_checkbox_text {
  display: inline; }

.ac_results {
  margin-left: 5px;
  border-top: 0; }
  .ac_results li {
    background-image: none; }

.fc_radio_group_container input {
  float: left; }
.fc_radio_group_container label {
  clear: left; }
.fc_radio_group_container .fc_shipping_cost {
  color: #64300a;
  margin-left: 5px; }

.fc_row_radio input, .fc_row_checkbox input, .fc_radio_group_container input {
  margin: 4px 6px 0 0; }

#shipping_ajax img {
  display: block;
  margin: 0 0 6px -6px; }

#fc_complete_order_button {
  background: url("images/buttons/complete-purchase.png") no-repeat;
  width: 171px;
  height: 26px;
  float: right;
  cursor: pointer; }
  #fc_complete_order_button:hover {
    background-position: 0 -100px; }
  #fc_complete_order_button:focus {
    background-position: 0 -200px; }

.fc_clear {
  display: none; }

#fc_form_checkout {
  margin-bottom: 0; }

#fc_receipt_custom_container {
  clear: both;
  float: none; }

#fc_receipt_heading, body.receipt #fc_cart_table caption {
  display: none; }

#fc_receipt_container {
  overflow: hidden; }
  #fc_receipt_container ol li {
    margin-bottom: 4px; }
  #fc_receipt_container .fc_text_label {
    color: #64300a; }
  #fc_receipt_container .fc_fieldset_container {
    width: 460px; }
  #fc_receipt_container .fc_text {
    padding-top: 0;
    line-height: 1.2em; }

#fc_receipt_general_container, #fc_receipt_billing_container {
  float: left; }

#fc_receipt_order_container, #fc_receipt_shipping_container {
  float: right; }

#fc_receipt_billing_container {
  clear: both; }

body.receipt .content-inner .container, body.receipt .content-inner .content-feature .slideshow, .content-feature body.receipt .content-inner .slideshow {
  position: relative; }

#fc_receipt_links {
  position: absolute;
  top: 3px;
  right: 0; }
  #fc_receipt_links a {
    float: left; }
  #fc_receipt_links #fc_receipt_print_link {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px dotted #cac2b1; }

body.checkout h2, body.receipt h2 {
  margin-bottom: 10px; }

#product-filter, .filter {
  float: left;
  margin: 0 0 0 50px; }
  #product-filter fieldset, .filter fieldset {
    float: left; }
  #product-filter .checkbox, .filter .checkbox {
    margin-top: 5px; }
    #product-filter .checkbox input, #product-filter .checkbox label, .filter .checkbox input, .filter .checkbox label {
      float: left; }
    #product-filter .checkbox input, .filter .checkbox input {
      margin: 0 5px 0 0; }
  #product-filter label, .filter label {
    font-size: 15px;
    color: #453c37; }

ul.filtered li.product {
  display: none; }
ul.filtered li.active {
  display: block; }

.badges {
  clear: both;
  padding: 0 11px; }

.badge-1 {
  float: right;
  border: 1px solid #cac2b1; }

.fc_cart_remove_link, .btn-x {
  width: 14px;
  height: 14px;
  background-image: url("images/buttons/x-default.png"); }
  .fc_cart_remove_link:hover, .btn-x:hover {
    background-position: 0 -100px; }

.content-feature {
  zoom: 1; }
  .content-feature .slideshow {
    width: 1100px;
    height: 500px;
    margin-top: -64px;
    margin-bottom: -64px;
    overflow: hidden; }
    .content-feature .slideshow .slides,
    .content-feature .slideshow .slide {
      width: 1100px;
      height: 508px;
      overflow: hidden; }
    .content-feature .slideshow .slides, .content-feature .slideshow .slides * {
      display: block; }
    .content-feature .slideshow .controls {
      z-index: 1000;
      width: 14px;
      position: absolute;
      right: 4px;
      top: 160px; }
      .content-feature .slideshow .controls .inner {
        background-position: -100px 100%;
        padding: 0 0 16px 16px; }
      .content-feature .slideshow .controls a {
        display: block;
        background: url("images/feature-controls-dots.png") no-repeat;
        width: 14px;
        height: 14px;
        margin-bottom: 4px; }
        .content-feature .slideshow .controls a:hover {
          background-position: 0 -100px; }
      .content-feature .slideshow .controls a.activeSlide {
        background-position: 0 -200px; }

#feature-toggle {
  width: 46px;
  height: 78px;
  background: url("images/feature-toggle.png") no-repeat;
  position: absolute;
  top: -58px;
  right: -4px;
  z-index: 9; }
  #feature-toggle:hover {
    right: 0; }

#feature-toggle.show-feature {
  background-position: 0 -100px; }

.content-main .slideshow {
  position: relative;
  overflow: hidden; }
  .content-main .slideshow .slides, .content-main .slideshow img {
    overflow: hidden;
    display: block;
    height: 323px;
    width: 586px; }
  .content-main .slideshow .slides {
    position: relative; }
  .content-main .slideshow .slide {
    width: 586px;
    height: 323px;
    position: absolute; }
  .content-main .slideshow .prev-next {
    position: absolute;
    top: 19px;
    z-index: 101;
    height: 323px;
    width: 150px;
    background: url("images/arrow-slideshow.png") no-repeat 0 50%; }
    .ie6 .content-main .slideshow .prev-next {
      background-image: url("images/arrow-slideshow-ie.png"); }
  .content-main .slideshow .prev {
    left: 19px; }
  .content-main .slideshow .next {
    right: 19px;
    background-position: 100% 50%; }
  .content-main .slideshow a.nobg {
    background-image: none; }
    .ie6 .content-main .slideshow a.nobg {
      background-image: url("images/arrow-slideshow-ie.png"); }

.home-links {
  width: 959px;
  margin-left: -10px; }
  .home-links a {
    height: 179px;
    background: url("images/big-home-links.png") no-repeat; }
  .home-links li.li-1 a {
    width: 323px; }
  .home-links li.li-1 a:hover {
    background-position: 0 -200px; }
  .home-links li.li-2 a {
    background-position: -323px 0;
    width: 318px; }
  .home-links li.li-2 a:hover {
    background-position: -323px -200px; }
  .home-links li.li-3 a {
    background-position: -641px 0;
    width: 318px; }
  .home-links li.li-3 a:hover {
    background-position: -641px -200px; }
  .home-links li.last, .home-links li.col-12 {
    border: 0;
    padding: 0;
    margin: 0; }

.ie6 .home-twitter .twitter-feeds {
  background: none;
  padding-left: 0;
  margin-left: 0; }
.home-twitter .twitter-feeds {
  padding-left: 110px;
  margin-left: -110px;
  background: url("images/icons/twitter-bird.png") no-repeat 0 110px; }
.home-twitter h3 {
  font-size: 16px;
  margin-bottom: 6px; }

.ie6 .home-social li.twitter, .ie6 .home-social li.facebook {
  background: none; }
.home-social h2 {
  font-size: 24px; }
.home-social h3 {
  font-size: 16px;
  margin: 0; }
.home-social li.twitter {
  background-image: url("images/icons/twitter-t.png"); }
.home-social li.facebook {
  background-image: url("images/icons/facebook-f.png"); }
.home-social li.twitter,
.home-social li.facebook {
  height: 30px;
  float: left;
  margin-right: 40px; }
  .home-social li.twitter h3,
  .home-social li.facebook h3 {
    line-height: 26px; }
  .home-social li.twitter a,
  .home-social li.facebook a {
    display: block;
    margin-left: -50px;
    padding-left: 50px; }

.home-social .list-2 {
  margin: 0; }

.home-social > ul > li {
  padding: 4px 0 0 50px;
  background: no-repeat;
  margin-bottom: 10px; }

.content-feature .text-slide {
  padding: 60px 0 0 0;
  font-size: 14px;
  color: #453c37; }
  .content-feature .text-slide .intro {
    color: #fcfaea;
    font-size: 36px;
    line-height: 1.05em;
    letter-spacing: 0.04em; }
  .content-feature .text-slide img {
    float: right;
    margin-top: -80px; }

.nav-local li {
  padding: 16px 6px;
  border-top: 1px dotted #cac2b1;
  background: no-repeat 100% 50%;
  min-height: 65px;
  _height: 65px; }
.nav-local li.biglink-hover {
  background-color: #f1edd6; }
.nav-local a.more {
  display: inline;
  font-size: 14px;
  color: #453c37;
  margin-left: 5px;
  white-space: nowrap; }
.nav-local h3 {
  margin: 0; }
.nav-local .biglink a, .nav-local .biglink a:hover {
  color: #453c37; }
.nav-local li {
  padding-right: 100px; }
.nav-local li.menu {
  background-image: url("images/nav-menu.png"); }
.nav-local li.takeout {
  background-image: url("images/nav-to-go.png"); }
.nav-local li.deli {
  background-image: url("images/nav-deli.png"); }
.nav-local li.catering {
  background-image: url("images/nav-catering.png"); }

.layout-menu .section, .layout-menu #fc_checkout_container, .layout-menu body.checkout #fc_checkout_cart, body.checkout .layout-menu #fc_checkout_cart, .layout-menu body.receipt #fc_checkout_cart, body.receipt .layout-menu #fc_checkout_cart, .layout-menu #fc_receipt_container, .layout-menu div.menu h2, div.menu .layout-menu h2 {
  background-image: none;
  margin: 0;
  padding: 0; }

div.menu h2 .header-note {
  font-size: 12px;
  font-style: italic;
  margin-top: -15px;
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif; }
div.menu .menu-note {
  font-size: 12px;
  font-style: italic;
  margin-top: -15px; }
div.menu h3 {
  font-size: 16px;
  margin: 0 0 10px; }
div.menu li {
  margin-bottom: 25px;
  margin-right: 100px; }
div.menu li.last, div.menu li.col-12 {
  margin-right: 80px;
  /*    margin-left: $col-6 + $gutter;
      float: none;
      display: block;
  */ }
div.menu .category {
  padding-top: 10px; }
  div.menu .category h2 {
    margin: 0 0 25px;
    background: url("images/slash-div-cream.png") no-repeat 0 13px; }
    div.menu .category h2 span {
      background: #fcfaea;
      padding-right: 7px; }
  div.menu .category p {
    margin-bottom: 0; }
  div.menu .category .base-price {
    margin-top: -22px;
    margin-bottom: 5px; }
    div.menu .category .base-price span {
      background: #fcfaea;
      padding-left: 7px; }
  div.menu .category h3 {
    border-bottom: 1px dotted #cac2b1;
    height: 13px; }
    div.menu .category h3 span {
      background: #fcfaea;
      padding-right: 7px; }
div.menu .price {
  font-size: 14px;
  text-align: right;
  display: block; }
div.menu .combo-price .menu-note {
  float: left;
  line-height: 1.1em;
  margin-top: 0; }
div.menu .base-price, div.menu .combo-price {
  margin-bottom: 5px; }
div.menu .combo-price .price {
  font-style: italic;
  font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
  font-size: 12px; }
div.menu li img {
  padding: 13px;
  background: url("images/drawn-frame-small.png") no-repeat;
  display: block;
  margin: 0 0 10px -4px; }

.gift-cert button {
  float: left;
  margin-top: 6px; }
.gift-cert .gift-cert-amount label {
  display: block; }
.gift-cert .gift-cert-amount label.price {
  float: left;
  width: auto; }
.gift-cert .gift-cert-amount #gc_amount {
  width: 85px;
  float: left;
  text-align: right;
  margin: 6px 10px 0 4px; }

.catribs-info h3 {
  background: url("images/we-are-here.png") no-repeat 0 0;
  width: 111px;
  height: 164px;
  margin: 0;
  position: absolute;
  top: -280px;
  right: 135px;
  z-index: 10;
  display: none; }

/** =ie6
************************************************************/
.ie6 .col-4 {
  width: 296px; }
.ie6 .btn span {
  width: 1px; }
